/*! ------------------------ MOBILE ------------------------ */

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
  .burger-socials-list {
    gap: 56px;
  }

  .burger-address-link.accent {
    font-size: 36px;
  }

  .modal-body {
    width: 392px;
  }
}

/*! ------------------------ TABLET ------------------------ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
  }

  /** ------------------------ Header ------------------------ */

  .page-header .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    color: var(--c-decoration-dark);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color var(--trn-main-transition-params);
  }

  .nav-link.active-now {
    color: var(--c-effect);
    position: relative;
  }

  .nav-link.active-now::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--c-effect);
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--c-effect);
  }

  .header-address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: var(--c-text-main);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color var(--trn-main-transition-params);
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--c-effect);
  }

  .burger-menu-icon {
    display: none;
  }

  .burger-menu-body {
    display: none;
  }

  /** ------------------------ Hero ------------------------ */

  .hero .container {
    gap: 36px;
  }

  .hero .main-title {
    max-width: 496px;
  }

  /** ---------------------- About Us ---------------------- */

  .about-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .about-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .about-list-item .section-title {
    text-align: start;
    margin-bottom: 8px;
  }

  /** ------------------------ Our Team ------------------------ */

  .team.section > .container {
    max-width: 582px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /** ------------------------ Customers ------------------------ */

  .customers.section > .container {
    max-width: 582px;
  }

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  /*! ------------------------ Portolio Tab ------------------------ */

  .portfolio.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-btn-list {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 64px;
  }

  .portfolio-btn {
    padding: 12px 24px;
  }

  .portfolio-pages-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-pages-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /*! ------------------------ Footer ------------------------ */

  .page-footer.section > .container {
    max-width: 582px;
  }

  .page-footer .container {
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }

  .page-footer .logo,
  .footer-box-title {
    text-align: start;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .subscribe-label {
    flex-basis: auto;
  }

  .subscribe-input {
    width: 264px;
    margin-bottom: 0;
  }

  /** ---------------------- Modal Window ---------------------- */

  .modal-body {
    width: 408px;
    padding: 72px 24px 24px;
  }

  .modal-form {
    min-width: 360px;
  }
}

/*! ------------------------ DESKTOP ------------------------ */

@media screen and (min-width: 1158px) {
  .container,
  .team.section > .container,
  .customers.section > .container,
  .page-footer.section > .container {
    max-width: 1158px;
  }

  /** ------------------------ HEADER ------------------------ */

  .page-header .container {
    justify-content: start;
  }

  .page-header .logo {
    margin-right: 76px;
  }

  .header-address {
    margin-left: auto;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /** ------------------------ Hero ------------------------ */

  .hero.section {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero .container {
    gap: 48px;
  }

  /** ---------------------- About Us ---------------------- */

  .about.section {
    padding: 120px 0;
  }

  .about-list {
    gap: 24px;
  }

  .about-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .about-icon-box {
    background-color: var(--c-decoration-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .about-list-item .section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .about-list-item .text {
    font-weight: 400;
  }

  /** --------------- What we are doing / Product --------------- */
  .product.section {
    display: block;
    padding-bottom: 120px;
  }

  .product.section .section-title {
    margin-bottom: 72px;
    text-align: center;
  }

  .product-list {
    display: flex;
    gap: 24px;
  }

  .product-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /** ------------------------ Our Team ------------------------ */

  .team.section {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  /** ------------------------ Customers ------------------------ */

  .customers-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }

  /*! ------------------------ Portolio Desk ------------------------ */

  .portfolio.section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-btn-list {
    margin-bottom: 72px;
  }

  .portfolio-pages-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-pages-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /*! ------------------------ Footer ------------------------ */
  .page-footer.section {
    padding: 100px 0;
  }

  .page-footer .container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }

  .footer-logo-box {
    margin-right: 120px;
  }

  .footer-logo-box .text {
    color: var(--c-decoration-light);
  }

  .footer-socials-box {
    margin-right: 80px;
  }

  .subscribe-input {
    border: 1px solid var(--c-text-alt);
  }

  .subscribe-input::placeholder {
    color: currentColor;
  }
}
